.container{
    width: 40%;
    color: white;
    background-color: #255e98;
    border-radius: 5px;
    padding: 30px;
    border: 2px solid red;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}
.password-wrapper{
    width: 100%;
    height: 40px;
    position: relative;
}
.password-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}
.password-area .password{
    width: 100%;
    height: 100%;
}
.password-area .password input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #caf0f8;
    color: black;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0px 60px 0px 20px;
}
.password-area .password .icon{
    position: absolute;
    right: 0;
    top: 50%;
    width: 50px;
    height: 100%;
    background-color: #f58a07;
    /* font-size: 50px; */
    transform: translate(0,-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}


.setting{
    margin: 20px 0px;
    /* border: 2px solid red; */
}
.customize{
    margin: 10px 0px;
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid red; */
}
.customize .checkboxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.left,.right{
    width: fit-content;

}
/* .right{
margin-left: 50px;
} */
.checkbox{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.checkbox input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.checkbox input:checked{
    accent-color: #f58a07;
}
.checkbox label{
    line-height: 20px;
}



.slider{
    margin: 20px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
.rangeValue{
    width: 80px;
    height: 100%;
    font-size: 22px;
    border-radius: 5px;
    background-color: white;
    color: black;
    line-height: 50px;
    text-align: center;
}


.slider .range{
    width: calc(100% - 80px);
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
    border: none;

    background-color: white;
    outline: none;
    padding: 0px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .range input{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 50px;
    background-color: #f58a07;
    border: none;
    color: white;
    cursor: pointer;
}
.buttons button:last-child{
    margin-left: 10px;
}


/* Responsive Design */
@media only screen and (max-width:600px){
    .title{
        font-size: 20px;
    }
    .buttons{
        display: block;
    }
    .buttons button{
        width: 100%;
        margin-left: 0 ;
    }
    .buttons button:last-child{
        margin-left: 0px;
        margin-top: 20px;
    }
}


@media only screen and (max-width:768px){
    .container{
        width: 100%;
        /* margin: 0 30px; */
        padding: 20px;
    }
    .title{
        font-size: 22px;
    }
    .h3{
        font-size: 18px;
    }
    .customize .checkboxes{
        display: block;
    }
}

@media (min-width: 769px) and (max-width:1024px){
    .container{
        width: 70%;
        /* margin: 0 30px; */
    }
}

@media (min-width: 1025px) and (max-width:1300px){
    .container{
        width: 60%;
        /* margin: 0 30px; */
    }
}
